<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> | About Us
    </title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://codepen.io/skjha5993/pen/bXqWpR.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="front.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8a48fceb00.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="extensions/editable/bootstrap-table-editable.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">

<body>

    <%- include('../partials/navbar') %>
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <img class="img-fluid img.sticky" style="margin-top: 75px;" src="./img/aboutus1.svg" alt="O">


                </div>
                <div class="col-lg-6">

                    <h1 class=" h-primary text fw-bold" style="margin-top: 150px; margin-left: 50px; font-size: 45px; font-family: 'Marck Script', cursive;
            font-family: 'Pacifico', cursive; ">About Us!</h1>
                    <h5 style="font-family: 'Nunito', sans-serif;margin-top:26px; ">At GO-BMT, our vision is to make travel simple and
                        fun for all, and our core values guide us in making this possible. These core values can be seen
                        in the projects that we undertake, and the way in which we solve problems for our customers.
                        They are a representation of OUR BEING & OUR DOING. Each member of the GO-BMT family is guided
                        by them, each and every day.</h5>

                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">

                <div class="col-lg-6">

                    <h1 class=" h-primary text fw-bold" style="margin-top: 100px; margin-left: 20px; font-size: 45px; font-family: 'Marck Script', cursive;
                    font-family: 'Pacifico', cursive; ">Jay Panchal</h1>
                    <h4 style="font-family: 'Nunito', sans-serif; margin-top: 30px;font-weight: bold;">Founder & Group
                        Executive Chairman</h4>
                    <h4 style="font-family: 'Nunito', sans-serif;">Be CURIOUS to know how things work. Be CREATIVE by
                        constantly looking for newer, better ways of
                        achieving results. Be genuine in your CARE, be it your colleagues, customers or business.</h4>

                </div>
                <div class="col-lg-6">
                    <img class="img-fluid img.sticky rounded img-thumbnail"
                        style="margin-top: 75px; height:400px;width:400px;" src="./img/jay.jpg" alt="O">

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <img class="img-fluid img.sticky rounded img-thumbnail"
                        style="margin-top: 75px; margin-bottom:50px;height:400px;" src="./img/vraj.jpeg" alt="O">


                </div>
                <div class="col-lg-6">

                    <h1 class=" h-primary text fw-bold" style="margin-top: 100px; margin-left: 50px; font-size: 45px; font-family: 'Marck Script', cursive;
            font-family: 'Pacifico', cursive; ">Vraj Panchal</h1>
                    <h4 style="font-family: 'Nunito', sans-serif;margin-top:30px; font-weight: bold;">Co - Founder &
                        Group Chief Executive Officer</h4>
                    <h5 style="font-family: 'Nunito', sans-serif; font-size: 23px;">Sharpen your CUSTOMER FOCUS by keeping your ears to
                        the ground—this’ll help you understand
                        evolving customer needs. Exchange fear & complacency with COMMITMENT TO RESULTS—only commitment
                        can lead to strategic action. Strive to get a little better every day at what you do—CONTINUOUS
                        IMPROVEMENT is far more effective than delayed perfection.</h5>
                </div>
            </div>
        </div>




        <%- include('../partials/footer') %>


</body>


</html>