<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus</title>
    <link rel="stylesheet" href="css/s3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> 
<body>
    <div class="booking-form-box">
        <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked><span>Round Trip</span>
            <input type="radio" class="btn" name="check"><span>One Way</span>
            <input type="radio" class="btn" name="check"><span>Multi-City</span>

        </div>
        <div class="booking-form">
            <label>From:</label>
            <input type="text" class="form-control" placeholder="City or Station">
            <label>To:</label>
            <input type="text" class="form-control" placeholder="City or Station">
            <div class="input-grp">
                <label>Date:</label>
            <input type="date" class="form-control select-date">              
            </div>
            <div class="input-grp">
                <label>Adults:</label>
            <input type="number" class="form-control" value="1">              
            </div>
            <div class="input-grp">
                <label>Children:</label>
            <input type="number" class="form-control" value="0">              
            </div>
            <!-- <div class="input-grp">
                <label>Travel Class:</label>
                <select class="custom-select">
                <option value="1">All Class</option>              
                <option value="2">Sleeper Class</option>              
                <option value="3">Third AC</option>              
                <option value="4">Second AC</option>              
                <option value="5">First AC</option>              
                <option value="6">Second Seating</option>              
                <option value="7">AC Chair Car</option>              
                <option value="8">First Class</option>              
                <option value="9">Third AC Economy</option>              
              </select>
            </div> -->
            <div class="input-grp">
                <button type="button" class="btn btn-primary bus">Show Buses</button>
            </div>
        </div>
    </div>
</body>
</html>