<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="front.css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/8a48fceb00.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      .form-style-8 {
        font-family: "Open Sans Condensed", arial, sans;
        width: 500px;
        padding: 30px;
        background: #ffffff;
        margin: 50px auto;
        border-radius: 12px;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      }

      .form-style-8 h2 {
        background: #181515;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", sans-serif;
        color: #181313;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
      }

      .form-style-8 input[type="text"],
      .form-style-8 input[type="date"],
      .form-style-8 input[type="datetime"],
      .form-style-8 input[type="email"],
      .form-style-8 input[type="number"],
      .form-style-8 input[type="search"],
      .form-style-8 input[type="time"],
      .form-style-8 input[type="url"],
      .form-style-8 input[type="password"],
      .form-style-8 textarea,
      .form-style-8 select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
        border-radius: 12px;
      }

      .form-style-8 textarea {
        resize: none;
        overflow: hidden;
      }

      .form-style-8 input[type="button"],
      .form-style-8 input[type="submit"] {
        /* -moz-box-shadow: inset 0px 1px 0px 0px #141616; */
        /* -webkit-box-shadow: inset 0px 1px 0px 0px #191b1b; */
        /* box-shadow: inset 0px 1px 0px 0px #0c0e0e; */
        background-color: #191b1b;
        /* border: 0px solid #181d1d; */
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        /* font-family: 'Open Sans Condensed', sans-serif; */
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 12px;
      }

      .form-style-8 input[type="button"]:hover,
      .form-style-8 input[type="submit"]:hover {
        background: linear-gradient(to bottom, 5%, #4b5050 100%);
        background-color: #181a1a;
      }

      #contact-us-header {
        margin-top: 9%;
        margin-bottom: 4%;

        text-align: center;
      }

      #contact-us {
        /* text-align: center; */
        font-family: "Open Sans Condensed", arial, sans;
        width: 1300px;
        padding: 30px;
        background: #2f3035;
        color: #ffffff;
        margin: 50px auto;
        border-radius: 12px;

        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
      }

      .Information {
        padding-left: 75px;
        padding-top: 50px;
      }

      .container1 {
        padding-right: 300px;
        padding-top: 50px;
        text-align: left;
      }
      .t1 {
        padding-top: 20px;
      }
    </style>

    <script type="text/javascript">
      //auto expand textarea
      function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = h.scrollHeight + "px";
      }
    </script>
  </head>

  <body>
    <!-- <div id="contact-us-header">

        <h1>Contact US</h1>
        <h3>Any question or remarks? Just write us a message!</h3>

    </div> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a
        href="#"
        class="navbar-brand"
        style="
          font-family: 'Marck Script', cursive;
          font-family: 'Pacifico', cursive;
        "
        >Book&nbsp; My Trip
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#services-container"> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus"> Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login"> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./logout"> logout</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#"> Profile</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1
            class="h-primary text fw-bold"
            style="
              margin-top: 110px;
              font-size: 50px;
              font-family: 'Marck Script', cursive;
              font-family: 'Pacifico', cursive;
            "
          >
            Contact Us
          </h1>
          <p class="h-secondary text fw-normal lh-sm" style="font-size: 30px">
            Any question or remarks? Just write us a message!
          </p>
        </div>
        <div class="col-lg-6">
          <img
            class="img-fluid img.sticky"
            style="margin-top: 90px"
            src="./img/contact3.svg"
            alt="O"
          />
        </div>
      </div>
    </div>
    <section id="contact-us">
      <div class="box">
        <div class="row">
          <div class="col Information">
            <h3
              style="
                font-family: 'Marck Script', cursive;
                font-family: 'Pacifico', cursive;
              "
            >
              Contact Information
            </h3>
            <h4>
              Fill up the form and our Team will get back to <br />
              you within 24 hours.
            </h4>

            <div class="container1">
              <div class="row row-cols-auto t1">
                <div class="col"><i class="fas fa-phone-alt"></i></div>
                <div class="col">+91 9081828471</div>
              </div>
              <div class="row row-cols-auto t1">
                <div class="col"><i class="fas fa-envelope"></i></div>
                <div class="col">bookmytripnow21@gmail.com</div>
              </div>
              <div class="row row-cols-auto t1">
                <div class="col"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col">DDU Nadiad</div>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- <form action="">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="First name"
                                    aria-label="First name">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="Email"
                                    aria-label="First name">
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" placeholder="Phone No" aria-label="Last name">
                            </div>
                        </div>
                        <div>
                            <label for="message">Message: </label>
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                </div>
                </form> -->

            <div class="form-style-8">
              <form>
                <input type="text" name="field1" placeholder="Full Name" />
                <input type="email" name="field2" placeholder="Email" />
                <input type="text" name="field2" placeholder="Phone Number" />

                <textarea
                  placeholder="Message"
                  onkeyup="adjust_textarea(this)"
                ></textarea>
                <input type="button" value="Send Message" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
