<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight</title>
    <link rel="stylesheet" href="css/s1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> 
<body>
    <div class="booking-form-box">
        <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked><span>Round Trip</span>
            <input type="radio" class="btn" name="check"><span>One Way</span>
            <input type="radio" class="btn" name="check"><span>Multi-City</span>

        </div>
        <div class="booking-form">
            <form id="flightsForm" action="/searchflight" method="POST">
            <label>Flying From:</label>
            <input type="text" id="from" class="form-control" placeholder="City or Station" name="from">
            <label>Flying To:</label>
            <input type="text" id="to" class="form-control" placeholder="City or Station" name="to">
            <div class="input-grp">
                <label>Check In:</label>
            <input type="date" id="checkIn" class="form-control select-date" name="checkIn">              
            </div>
            
            <div class="input-grp">
                <label>No of Tickets:</label>
            <input type="number" id="noftik" class="form-control" value="1" name="noftik">              
            </div>
            <div class="input-grp">
                <label>Travel Class:</label>
                <select class="custom-select" id="travelclass" name="travelclass">
                    <!-- <option value="All Class">All Class</option>   -->
                    <option value="Economy Class">Economy Class</option>              
                    <option value="Business Class">Business Class</option>                           
              </select>
            </div>
            <div class="input-grp">
                <button type="submit" id="submitBtn" class="btn btn-primary flight" name="submitBtn" onclick="save()">Show Flights</button>
            </form>
        </div>
    </div>
</body>

<script src="./js/flight.js"></script>

</html>