<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="css/hotel.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> 
<body>
    <div class="booking-form-box">
        <!-- <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked><span>Round Trip</span>
            <input type="radio" class="btn" name="check"><span>One Way</span>
            <input type="radio" class="btn" name="check"><span>Multi-City</span>

        </div> -->
        <div class="booking-form">
            <label>City:</label>
            <input type="text" class="form-control" placeholder="Dubai, UAE">
            <!-- <label>Flying To</label>
            <input type="text" class="form-control" placeholder="City or Airport"> -->
            <div class="input-grp">
                <label>Check In:</label>
            <input type="date" class="form-control select-date">              
            </div>
            <div class="input-grp">
                <label>Check Out:</label>
            <input type="date" class="form-control select-date">              
            </div>
            <div class="input-grp">
                <label>Adults</label>
            <input type="number" class="form-control" value="1">              
            </div>
            <div class="input-grp">
                <label>Children</label>
            <input type="number" class="form-control" value="0">              
            </div>
            <div class="input-grp">
                <label>Rooms</label>
                <select class="custom-select">
                <option value="1">AC-Rooms</option>              
                <option value="2">Non-AC Rooms</option>              
                <option value="3">Royal Rooms</option>              

                    </select>
            </div>
            <div class="input-grp">
                <button type="button" class="btn btn-primary hotel">Show Hotels</button>
            </div>
        </div>
    </div>
</body>
</html>