<!DOCTYPE html>     
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trains</title>
    <link rel="stylesheet" href="css/s2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> 
<body>
    <div class="booking-form-box">
        <div class="radio-btn">
            <input type="radio" class="btn" name="check" checked><span>Round Trip</span>
            <input type="radio" class="btn" name="check"><span>One Way</span>
            <input type="radio" class="btn" name="check"><span>Multi-City</span>

        </div>
        <div class="booking-form">
            <form id="trainForm" action="/searchtrain" method="POST">
            <label>From:</label>
            <input type="text" id="from" class="form-control" placeholder="City or Station" name="from">
            <label>To:</label>
            <input type="text" id="to" class="form-control" placeholder="City or Station" name="to">
            <div class="input-grp">
                <label>Check In:</label>
            <input type="date" id="checkIn" class="form-control select-date" name="checkIn">              
            </div>
            
            <div class="input-grp">
                <label>No of Tickets:</label>
            <input type="number" id="noftik" class="form-control" value="1" name="noftik">              
            </div>
            <div class="input-grp">
                <label>Travel Class:</label>
                <select class="custom-select" id="travelclass" name="travelclass">
                <option value="All Class">All Class</option>              
                <option value="First Class">First Class</option>              
                <option value="Sleeper Class">Sleeper Class</option>              
                <option value="Second Seating">Second Seating</option>              
                <option value="First AC">First AC</option>              
                <option value="Second AC">Second AC</option>              
                <option value="Third AC">Third AC</option>              
                <option value="Third AC Economy">Third AC Economy</option>              
                <option value="AC Chair Car">AC Chair Car</option>              
              </select>
            </div>
            <div class="input-grp">
                <button type="submit" id="submitBtn" class="btn btn-primary train" name="submitBtn" onclick="save()">Show Trains</button>
            </form>
            </div>
        </div>
    </div>
</body>

<script src="./js/train.js"></script>


</html>