body{
    /* background-image: linear-gradient(rgba(0,0,0,0,0.5),rgba(0,0,0,0,0.5)),url('img/bg1.jpg');
    background-size: cover;
    background-position: center; */
    /* background-color: bisque; */
    /* content: ""; */
    /* position: absolute; */
    /* background: url('../img/b4.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 10; */
    /* align-content: flex-start; */
}
.booking-form-box{
    max-width: 350px;
    /* border: 1px solid #ced4da; */
    margin: 7% auto 0;
    /* background-color: rgb(34, 33, 33); */
    border-radius: 3px;   
    max-width: 350px;
    border: 0px solid #e4ecec;
    margin: 7% auto 0;
    /* background-color: rgb(53, 51, 196); */
    /* font-family: 'Open Sans Condensed', arial, sans; */
            
            background: #FFFFFF;
    
            /* margin: 50px auto; */
            border-radius: 3px;

            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
            -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);

}
.radio-btn{
    margin: 0 20px;
}
.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color:#fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after{
    content: '';
    background-color: #000;
    transition: 0.5s;
}
.radio-btn span{
    color: rgb(63, 60, 60);
    margin-right: 5px;
    font-size: 16px;
}
.booking-form{
    padding: 0 20px 20px;
}
.booking-form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
    color:rgb(63, 60, 60);
    font-weight: bold;
    
}
input::placeholder{
    color: rgb(63, 60, 60)!important;
}
.input-grp{
    width: 151px;
    display: inline-block;
}
.form-control{
    font-size: 12px!important;
    border-radius: 0!important;
    color: rgb(63, 60, 60)!important;
    background: transparent!important;
    box-shadow: none!important;

}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
    color:rgb(63, 60, 60);
    
}
.select-date::-webkit-calender-picker-indicator{
    background: transparent!important ;
}
.custom-select{
    color: rgb(63, 60, 60)!important;
    font-size: 12px!important;
    border: 1px solid #ced4da!important;
    box-shadow: none!important;
    border-radius: 0!important;
    background: transparent!important;
}
.custom-select option{
    color: #333;
}
.train{
    width: 100%!important;
    padding: 9px 0!important;
    font-size: 12px!important;
    border:1px solid #1d1e1f!important;
    background:rgb(63, 60, 60) !important;
    box-shadow: none!important;
    border-radius: 3px!important;
    color: rgb(248, 241, 241)!important;
    align-items: center;
    justify-content: center;
    margin-left: 50%;

}
.train:hover{
    background: rgb(63, 60, 60)!important;
    color: rgb(255, 249, 249)!important;
    transition: 0.5s;
}